<div>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="m-0">Galerie</h3>
    <a class="btn btn-sm btn-primary" routerLink="/gallery/create">Ajouter</a>
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div class="row g-3">
    <div class="col-6 col-md-3" *ngFor="let g of items">
      <div class="card">
        <img [src]="g.imageUrl" class="card-img-top" alt="img"/>
        <div class="card-body">
          <div>Produit: {{g.productId}}</div>
          <div class="mt-2">
            <button class="btn btn-sm btn-outline-secondary me-1" [routerLink]="['/gallery','edit', g.id]">Modifier</button>
            <button class="btn btn-sm btn-danger" (click)="deleteOne(g.id)">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
